extends layout

block content
    div.container
        div.row.clearfix
            div.col-md-12.column
                nav.navbar.navbar-default(role='navigation')
                    div.navbar-header
                        button.navbar-toggle(type='button',data-toggle='collapse')
                        img(src='/images/OPENi_logo.png')

                    div.collapse.navbar-collapse(id='bs-example-navbar-collapse-1')
                        ul.nav.navbar-nav.navbar-right
                            li
                                input(id='steamId' type='text')
                                button.btn.btn-info.btn-large(style='margin-top: 15px; margin-right: 5px',onclick='pull()',id='pull') Pull Steam Data
                                button.btn.btn-info.btn-large(style='margin-top: 15px; margin-right: 5px',onclick='login()',id='login') Login with OPENi

        div.jumbotron(id='values')
            p Welcome to the OPENi Sample Application.
            p.hidden(id='cloudlet')

            p(id='game')


    script.

        var pull = function(){
          var id=document.getElementById("steamId").value;
          $.ajax({
            async:   false,
            url:"/steam/" + id,
            success:function(data){
              var games = JSON.parse(data).response;
              for(g in games.games){
                var game = games.games[g];
                //console.log(game);
                var time = game.playtime_forever;
                console.log(time);

                $.ajax({
                  async:   false,
                  url:"/game/" + id + "/" + games.games[g].appid,
                  success:function(d){
                    var pd = JSON.parse(d);
                    if(!pd.playerstats || pd.playerstats.gameName.indexOf("ValveTestApp")>-1|| pd.playerstats.gameName == "") return;

                    var name = JSON.parse(d).playerstats.gameName;

                    postGame(name, games.games[g].playtime_forever, "http://" + name.replace(/ /g, "_").replace(/'/g,"").replace(/:/g,"") + ".jpg.to");
                    //console.log(name, time, "http://" + name.replace(/ /g, "_").replace(/'/g,"").replace(/:/g,"") + ".jpg.to");
                  }

                })

              }
            }
          })
        }

        var login = function(){
            redirectToOPENiAuthorization();
        };

        var API_KEY       = '13cef7dedb599f124327e350b5089519',
            SECRET        = '00905faaef882c1054c0a3720b15ae7dd821c71b5d90be9f277c6474e43cef5b',
            REDIRECT_LINK = 'http://' + location.host + '/',
            LOGOUT_LINK   = 'http://' + location.host + '/auth/logout',
            OPENI_URL     = 'demo2.openi-ict.eu';

        function postGame(name, minutes, image){
            addTokenHeader(
                    function (args) {

                      swagger.apis.cloudlets.getCloudletId( args, function (response) {
                                var data = JSON.parse(response.data);
                                var id = data["@id"];

                                args.cloudletId = id;

                                args.body = {
                                  "@openi_type": "t_bd66c858f2526cafc5201b082eef8440-363",
                                  "@data": {
                                    "name": name,
                                    "minutes": minutes,
                                    "game_image": image
                                  }
                                }
                                args.body = JSON.stringify(args.body);

                                swagger.apis.objects.createObject(args, function(response){
                                  console.log("created object");
                                  console.log(response);
                                });



                              }, function (swagger_error) {
                                console.log(swagger_error);
                                alert(swagger_error);
                              }
                      );

                    }, function (error) {
                      console.log("Error searching cloudlets");
                      alert(error);
                    }
            );
        }

        function showtoken() {
            addTokenHeader(
                    function (args) {
                        swagger.apis.cloudlets.getCloudletId(
                                args,
                                function (response) {
                                    var data = JSON.parse(response.data);
                                    console.log("Search result");
                                    console.log(data);
                                    //alert("Your Cloudlet is:" + data["@id"]);
                                    setHTML('#cloudlet', "Your Cloudlet is: " + data["@id"])
                                    $('#cloudlet').removeClass('hidden')
                                }, function (swagger_error) {
                                    console.log(swagger_error);
                                    alert(swagger_error);
                                }
                        );
                    }, function (error) {
                        console.log("Error searching cloudlets");
                        alert(error);
                    }
            );
        }

        function showGames() {
          console.log("started search")
          addTokenHeader(
                  function (args) {
                    swagger.apis.cloudlets.getCloudletId( args, function (response) {
                              var data = JSON.parse(response.data);
                              var id = data["@id"];
                              args.cloudletId = id;
                              args.type = "t_bd66c858f2526cafc5201b082eef8440-363";

                              swagger.apis.objects.getObjects(args, function(response){
                                        var data = JSON.parse(response.data);

                                        var key, totalGames = 0;
                                        for(key in data.result){
                                          if(data.result.hasOwnProperty(key)){ totalGames++; }
                                        }

                                        var content = "";
                                        for(var i = 0; i < totalGames; i++) {
                                          content += "<img src=" + data.result[i]["@data"].game_image + " height='64' width='64'> Game : " + data.result[i]["@data"].name + " with " + data.result[i]["@data"].minutes + " minutes played. <br>";
                                        }

                                        var p = document.getElementById("game");
                                        p.innerHTML = content;

                                      }, function (swagger_error) {
                                        console.log(swagger_error);
                                      }
                              );

                            }, function (swagger_error) {
                              console.log(swagger_error);
                              alert(swagger_error);
                            }
                    );
                  }, function (error) {
                    console.log("Error searching cloudlets");
                    alert(error);
                  }
          );


        }

        function showPermissions() {
            addTokenHeader(function(){
                getPermissionsFile(function(resp){
                    console.log("-----------------------------------")
                    console.log(resp)
                    console.log("###################################")
                },null)
            },null)
        }


        var setHTML = function(object,text){
            $(object).text(text)
        }

        function logout() {
            function onLogoutError(error) {
                console.log(error);
            }

            OPENi_logout(onLogoutError);
        }

        initOPENi(OPENI_URL, API_KEY, SECRET, REDIRECT_LINK, function () {
            console.log("OPENi Ready!");
            function loggedIn(token) {
                var msg = 'You are logged in! Press the button to view your Cloudlet ID.';
                console.log(msg);
                $('#login').text('Logout of OPENi')
                $('#login').attr('onclick','logout()')
                showtoken()
                //showPermissions()
                showGames()
            }

            function loggedOut() {
                var msg = 'Not loggedin\n Press the button to be redirected to OPENi Authorization page.';
                console.log(msg);
                $('#login').text('Login with OPENi')
                $('#login').attr('onclick','login()')
                //alert(msg);
            }

            function permissionDenied(permd) {
                alert("Permissions denied");
                console.log(permd);
            }

            checkLoginStatus(loggedIn, loggedOut, permissionDenied);
        });