doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    script(src='http://code.jquery.com/jquery-2.1.3.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/openi_js_lib.js')
  body(style="background: url('/images/bkgd.gif') repeat")
    block content